.table {
  &-main {
    padding: 40px;
    background: aqua;
  }

  &__wrapper {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    user-select: text;
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    table {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: none;
    }
  }

  &__content {
    border-collapse: separate;
    border-spacing: 0;
    border-style: hidden;
    width: max-content;
    th {
      position: relative;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
    td {
      position: relative;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
    }
  }

  &__head {
    &-row {
    }
    &-col {
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      &-content {
        width: 100%;
        overflow: hidden;
      }
    }
  }

  &--theme {
    &-light {
      table {
        background: white;
        td,
        th {
          color: black;
        }
      }
    }
    &-light.table--theme-border-x {
      table {
        border-bottom: 1px solid #c0c0c0;
        td,
        th {
          border-top: 1px solid #c0c0c0;
        }
      }
    }
    &-light.table--theme-border-y {
      table {
        border-left: 1px solid #c0c0c0;
        td,
        th {
          border-right: 1px solid #c0c0c0;
        }
      }
    }
    &-light.table--theme-stripe {
      .table__content .table__body .table__body-row {
        &:nth-child(odd) {
          background: #f2f2f2;
        }
        &:hover {
          background: #ececec;
        }
      }
    }
    &-dark {
      table {
        background: rgb(10, 10, 10);
        td,
        th {
          color: white;
        }
      }
    }
    &-dark.table--theme-border-x {
      table {
        border-bottom: 1px solid #000000;
        td,
        th {
          border-top: 1px solid #000000;
        }
      }
    }
    &-dark.table--theme-border-y {
      table {
        border-left: 1px solid #000000;
        td,
        th {
          border-right: 1px solid #000000;
        }
      }
    }
    &-dark.table--theme-stripe {
      .table__content .table__body .table__body-row {
        background: #1f1f1f;
        &:hover {
          background: #131313;
        }
      }
    }
  }

  &__body {
    &-data {
      padding: 0.8rem 1rem;
      font-size: 1.4rem;
    }
  }
  &__head--fixed {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: 4;
  }
}
.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: 5;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  transition: 0.2s;
  background-color: blue;

  &:hover {
    width: 10px;
  }
  &:active {
    width: 10px;
    cursor: col-resize;
  }
}

// table thead tr:first-child th {
//   border-top: none;
// }

// table tbody tr:last-child td {
//   border-bottom: none;
// }

// table td:first-child {
//   border-left: none;
// }

// table td:last-child,
// table th:last-child {
//   border-right: none;
// }
