.sidebar__item {
  a {
    display: flex;
    border-left: 2px solid transparent;
    span {
      margin-left: auto;
      transform: rotate(90deg);
      transition: 0.3s all;
    }
  }
  &--active_parent {
    background: map-get($blue, 'dark-blue-grey');
  }
  &--active {
    border-left: 2px solid map-get($orange, 'base') !important;
    span {
      transform: rotate(-90deg) !important;
    }
  }
  &--active + ul {
    li.sidebar__item--active_parent {
      background-color: map-get($black, 'dark');
    }
    a {
      color: map-get($blue, 'cloudy-blue');
      &.sidebar__item--active {
        border-left-color: transparent !important;
        color: map-get($white, 'base');
      }
    }
  }
}