$path_to_base_font_file: '#{$path_to_folder}/verdana/verdana';

@font-face {
  font-family: $myriad_pro;

  src: url('#{$path_to_base_font_file}.ttf');

  src: local($myriad_pro), url('#{$path_to_base_font_file}.woff') format('woff'),
    url('#{$path_to_base_font_file}.ttf') format('truetype');
  font-display: auto;
  font-style: normal;
  font-display: swap;
}
